body{
    background-color: #121f36;
    color: #fff;
}
h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.container {
    width: 95%;
    align-items: center;
}
#json {
    box-sizing: border-box;
    margin-top: 20px;
    display: flexbox;
}

footer {
    padding-top: 15px;
    background-color: #252529;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: left;
    padding-left: 50px;
}
a {
    color: #fff;
}
a:visited {
    color: #fff;
}
