body{
    background-color: #121f36;
    color: #fff;
}
h4 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.container {
    display: border-box;
    width: 80%;
    align-items: center;
}
#json {
    display: border-box;
    margin-top: 20px;
}